@font-face { font-family: 'PingFang SC Regular'; src: url('pingfang.ttf'); }

* { 
	margin:0; 
	padding:0; 
	border:0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	font-family: 'PingFang SC Regular';
	background-color: #f3f3f3;
}

.fl { float: left;}

.mpsd-header { height:0.512rem; line-height: 0.5rem; border-bottom: 0.004rem solid #dedede; background-color: #fff;}
.mpsd-header .back { margin-left: 0.12rem; color: #666666; font-family: '宋体'; font-size: 0.152rem; background-color: #fff;}
.mpsd-header .title {margin-left: 0.944rem; font-size: 0.168rem; color: #1a1a1a; background-color: #fff;}

.mpsd-content { margin-top:0.12rem; height: 1.192rem; background-color: #fff; border-top: 0.004rem solid #dedede; border-bottom: 0.004rem solid #dedede;}
.mpsd-content input { display: block; margin-left: 0.112rem; width: 2.876rem;  height: 0.392rem; 
	line-height: 0.5rem; font-size: 0.128rem; background-color: #fff; outline:medium; }
.mpsd-content input:focus {background:url("ic_clear.png") no-repeat scroll 2.616rem center;}
.mpsd-btn { margin-top: 0.16rem; height: 0.408rem; text-align: center;}
.mpsd-btn input { position: absolute; left:50%; 
	transform: translate(-50%,0);-webkit-transform: translate(-50%,0);
 display:block; width:2.768rem; height:0.4rem; background-color:#067ada; border-radius: 10px;
 color: #ffffff; font-size: 0.152rem; line-height: 0.4rem;}


/*.mpsd-content i{
display: block;
position: absolute; 
right: 0.112rem;
z-index:5;
background-image: url(ic_clear.png); /*引入图片图片*/
background-repeat: no-repeat; /*设置图片不重复*/
background-position: 0px 0px; /*图片显示的位置*/
width: 0.2rem; /*设置图片显示的宽*/
height: 0.2rem; /*图片显示的高*/
background-color: transparent;
}*/

.test{
	width: 0.24rem
}