   @font-face { font-family: 'PingFang SC Regular'; src: url('pingfang.ttf'); }

* { 
    margin:0; 
    padding:0; 
    border:0; 
    webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    font-family: 'PingFang SC Regular';
    background-color: #f3f3f3;
}

.fl { float: left;}

.mpsd-header { height:0.512rem; line-height: 0.5rem; border-bottom: 0.004rem solid #dedede; background-color: #fff;}
.mpsd-header .back {  
	width:0.104rem; 
	height: 0.18rem;
	margin-top: 0.16rem;
	margin-left: 0.12rem; 
	background-color: #fff;}
.mpsd-header .back i {
	display: block;
	width:0.104rem; 
	height: 0.18rem;
	background:url("ic_top_back.png"); 
	background-size: cover; 
	background-color: transparent;
}
.mpsd-header .title { margin-left: 0.944rem; font-size: 0.168rem; color: #1a1a1a; background-color: #fff;}

.mpsd-content { margin-top:0.12rem; height: 1.192rem; background-color: #fff; border-top: 0.004rem solid #dedede; border-bottom: 0.004rem solid #dedede;}
.mpsd-content div {position: relative; background-color: #fff;}
.mpsd-content div i {display:inline-block;
	position: absolute; width: 0.2rem;height: 0.2rem; top: 0.08rem; right: 0.112rem;
	background:url("ic_clear.png") no-repeat; background-size: cover;}
.mpsd-content input { display: block; text-indent: 0.112rem; width: 2.876rem;  height: 0.392rem; 
    font-size: 0.128rem; background-color: #fff; outline:none; position: relative;}
/*.mpsd-content input:focus .mpsd-content div i{background:url("ic_clear.png") no-repeat; background-size: cover; }*/
.mpsd-btn { margin-top: 0.16rem; height: 0.408rem; text-align: center;}
.mpsd-btn button { position: absolute; left:50%; 
    transform: translate(-50%,0);-webkit-transform: translate(-50%,0);
 display:block; width:2.768rem; height:0.4rem; background-color:#067ada; border-radius: 10px;
 color: #ffffff; font-size: 0.152rem; line-height: 0.4rem; outline:none;}